<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="/favicon.png"/> <!-- TODO: crear el favicon -->
    <title>Robot Movil UPAO</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css">



<!-- TODO: crear los estilos y mover el javascript a un codigo aparte -->
    <!-- <link rel="stylesheet" href="styles.css"> 
    <script src="functions.js"></script> 

    También crear una imagen del robot más descriptiva
    Crear un logo de la Upao transparente
    Cambiar la llamada de Ajax al proceso industrial

-->
</head>
<body>

    <div style="display: none;">
        <!-- Este pequeño bloque es el que se utiliza para copiarlo y replicarlo para cada topic-->
        <div id="mainBlock" class="mainBlock">
            <span id="topic_name2show" class="topic_name2show">title</span>
            <canvas id="chartContainer"></canvas>
            <details>   
                <summary>Valores en tiempo real</summary>
                <div id="info" class="info">
                    <p id="oneInfoElement">-1</p>
                </div>
            </details>
        </div>
    </div>


    <div class="cabecera">
        <div id="logo">
            <img class="imgLogoUpao" src="https://repositorio.upao.edu.pe/image/upao_logo2011.jpg" />
            <span class="textologo">LABINM Robótica - Robot móvil IoT</span>
            <p>&nbsp;</p>
        </div>
        <div class="camara">
            <img class="imgRobot" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTyN528ca4xDEX_AOmPHrSqe-aucjNLaZrnzg&usqp=CAU" />
            <img id="cameraImage" src="/camera" />
        </div>
    </div>
    <details class="detailsContainer">
        <summary>Información sobre el proceso industrial</summary>
        <div id="topicContainerIndustrial" class="topicContainer"></div>
    </details><br>
    <details class="detailsContainer">
        <summary>Información sobre los sensores del robot para desarrollo</summary>
        <div id="topicContainerDesarrollo" class="topicContainer"></div>
    </details>
    
  
<style>
    .cabecera {
        text-align: center;
    }
    .logo {
    }
    .imgLogoUpao {
        vertical-align:middle;
        width: 20%;
        margin-right: 10px;
    }
    .imgRobot {
        vertical-align:middle;
    }
    .textologo {
        font-size: 2em;
        font-weight: bold;
    }
    .camara {
        display: grid;
        grid-template-columns: 2fr 3fr;
        grid-gap: 5px;
    }
    .cameraImage {
        width: 90%;
        text-align: center;
    }
    .detailsContainer {
        display: inline-flex;
    }
    .mainBlock {
        text-align: center;
    }
    .topic_name2show {
        font-weight: bold;
    }
    .info {
    }
    .mainBlock p {
        margin:0
    }
    .topicContainer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 5px;
    }
</style>


<script type='text/javascript'>

    var numeroDeIteracion = 0;
    var intervaloSegundos = 2;
    const cameraImage = document.getElementById("cameraImage")

    $(window).on('load', function() {
        numeroDeIteracion = 0;

        // se piden los datos del proceso industrial y del de desarroll y se actualizan
        //actualizaDatos("newUrl","#topicContainerIndustrial");
        actualizaDatos("datos","#topicContainerDesarrollo");
        window.setInterval(function(){
            numeroDeIteracion = numeroDeIteracion + 1;
            //actualizaDatos("newUrl","#topicContainerIndustrial");
            actualizaDatos("datos","#topicContainerDesarrollo");
        }, intervaloSegundos*1000);

        //actualizacion de la camara
        window.setInterval(function(){
            cameraImage.src = "/camera?" + new Date().getTime();;
        }, 500);
    });

    
    function actualizaDatos(paginaRecogidaData,divRecibidor) {
        // se leen los datos usando Ajax
        $.getJSON(paginaRecogidaData, function(jsonArray){
            $.each(jsonArray, function(index,jsonObject) {
                // solo en la primera iteración creamos los objetos
                if (numeroDeIteracion == 0) {
                    // clonamos al mainBlock, reemplazamos sus valores, los topicos son los ids de los canvas.
                    var mainBlock = $('#mainBlock').clone();
                    $(mainBlock).attr("id", key2Id(jsonObject.topic_name));
                    $(mainBlock).find("#topic_name2show").text(key2Id(jsonObject.topic_name2show));
                    var oneinfoelement = $(mainBlock).find("#oneInfoElement");
                    $.each(jsonObject.info, function(key,val){
                        // console.log("key: "+key+" ; value: "+val);
                        var keyvalueElement = $(oneinfoelement).clone();
                        $(keyvalueElement).attr("id", key2Id(key));
                        $(mainBlock).find("#info").append(keyvalueElement);
                    });
                    $(divRecibidor).append(mainBlock);
                    $(oneinfoelement).remove();
                }
                //actualizamos los valores de texto
                updateTextValues(jsonObject);
                //actualizamos el chart
                fillchart(jsonObject,numeroDeIteracion);
            });
        });
    }


    // funcion usada para convertir los nombres que vienen en Json en Id
    function key2Id(k) {
        var r = k.replace(" ","_");
        r = r.replace("/","");
        return r;
    }


    function updateTextValues(jsonObject) {
        var element = document.getElementById(key2Id(jsonObject.topic_name));
        const infoHtmlToUpdate = $(element).find("#info");
        $.each(jsonObject.info, function(key,val){
            $(infoHtmlToUpdate).find("#" + key2Id(key)).text("" + key + ": " + val);
        });
    }

    // Function that fill the chart
    function fillchart(jsonObject,numeroDeIteracion) {
        var element = document.getElementById(key2Id(jsonObject.topic_name));
        const ctx = $(element).find("#chartContainer");
        //console.log(numeroDeIteracion);
        if (numeroDeIteracion > 0) {
            // Aqui se actualiza el chart con el nuevo dato
            //console.log("se van a actualizar los charts");
            console.log(jsonObject.topic_name);
            var jsonObjectInfoArray = [];
            $.each(jsonObject.info, function(key,val) {
                jsonObjectInfoArray.push(val);
            });
            myChart = Chart.getChart(ctx);
            addData(myChart,intervaloSegundos * numeroDeIteracion, jsonObjectInfoArray);
        } else {
            //console.log("se va a crear los charts");
            // Aqui se crea cada chart
            var myDataset = [];
            $.each(jsonObject.info, function(key,val) {
                var oneLine = {
                    label: key,
                    data: [val]
                    };
                myDataset.push(oneLine);
            });
            var data2show = {
                    labels: [0],
                    datasets: myDataset
                };
            var chart = new Chart(ctx, {
                type: 'line',
                data: data2show,
                options: {
                    scales: {
                    y: {
                        beginAtZero: true
                    }
                    }
                }
            });
        }
    }

    // funcion para agregar un dato a un chart
    function addData(chart, label, jsonObjectInfoArray) {
        var maxElements = 8;
        chart.data.labels.push(label);
        chart.data.datasets.forEach(function (tmp, i) {
            //console.log("cantidad: " +  chart.data.datasets[i].data.length);
            chart.data.datasets[i].data.push(jsonObjectInfoArray[i]);
            if (chart.data.datasets[i].data.length > maxElements) {
                // Remove the oldest data
                chart.data.datasets[i].data.shift();
            }
        });
        if (chart.data.labels.length > maxElements) {
            // Remove the oldest label
            chart.data.labels.shift();
        }
        chart.update();
    }

</script>

    <footer>
        <p>&copy; 2023 LABINM Robótica.</p>
    </footer>
</body>
</html>
