<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Webpage</title>
    <!-- <link rel="stylesheet" href="styles.css">
    <script src="script.js"></script> -->
</head>
<body>



    <!-- <header>
        <h1>Welcome to My Webpage</h1>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section>
            <h2>About Me</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum consectetur eros ut enim gravida, et bibendum felis laoreet. Sed cursus diam quis libero efficitur sollicitudin.</p>
        </section>

        <section>
            <h2>Contact Me</h2>
            <form>
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>

                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>

                <label for="message">Message:</label>
                <textarea id="message" name="message" rows="4" required></textarea>

                <button type="submit">Send</button>
            </form>
        </section>
    </main> -->

    <button id="datos">Solicitar</button>
    <script src=https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js></script>
    <script type='text/javascript'>
        $("#datos").on('click', function(){
                console.log('Entre')
            }
        );
    </script>

    <footer>
        <p>&copy; 2023 My Webpage. All rights reserved.</p>
    </footer>
</body>
</html>
